atomicwrites==1.4.0
attrs==21.4.0
black==22.1.0
click==8.0.3
colorama==0.4.4
coverage==6.3.1
Flask==2.0.2
-e git+https://github.com/salbert54/CIDM6330.git@62027410281a33fc8469ec66f39cbe28e9a23953#egg=flaskr&subdirectory=assignment 2\flask-tutorial
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.9.0
platformdirs==2.5.0
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.7
pytest==7.0.1
tomli==2.0.1
waitress==2.0.0
Werkzeug==2.0.3
